@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-mobile__item{
    @apply text-gray-900 hover:bg-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium
}
.navbar-mobile__item--active{
    @apply bg-black text-white block px-3 py-2 rounded-md text-base font-medium
}

.navbar__item{
    @apply text-gray-900 hover:bg-gray-300 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium
}
.navbar__item.active {
    @apply  bg-black text-white px-3 py-2 rounded-md text-sm font-medium
}

.landing-animation {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 1;
    animation: reveal 1.5s;
}
.image-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
@keyframes reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}